extends layout

block content
        .hero-unit
          form.form.form-signin(method='POST', action='/process')
            h2.form-signin-heading Ready to play your mail....
            input.input-block-level(type='text', name='email', id='email', placeholder='Email...')
            input.input-block-level(type='password', name='password', id='password', placeholder='Password...')
            input.btn.btn-large.btn-success(type='submit', value='Go for it...')
            label.radio
            input(type='checkbox', name='mailoption', id='mailoption', value='pop') 
            |    Find Only Popular Artists
            